page-upper-tabs {
        .upper-tab-button{
            color:black;
        }
        .home_slide{
            height: 150px;
            background-color: lightgrey;
        }
        .home_pic{
            height:40%;
            width: 40%;
        }
}
