
#submit{
    background: rgb(41, 128, 185);
    font-weight: bold;
    color: white;
}


textarea{
    background-color: rgb(250, 250, 250) !important;
    color : black !important;
    font-weight : bold !important;
    resize:none; /*textarea 크기 조절 막기*/
}

input{
    background-color: rgb(250, 250, 250) !important;
    color : black !important;
    font-weight : bold !important;
    resize:none; /*textarea 크기 조절 막기*/
}


/*클릭시 배경, 테두리 변경*/
.click{
    background : white !important;
}

span{
     /*display:none;*/
}

.date{
    text-align : left;
}

/*action sheet css */
.action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}