page-category {
html,body {

    height: 100%;

}
.center{
	text-align: center;
	padding-left: 0px;
    padding-right: 0px;
}
.header{
    line-height: 60px;
    background-color: darkviolet;
    color: white;
    font-weight: bold;
}

.list {
    padding-left: 0px;
    padding-right: 0px;
    
    }


.item1 { text-align: left; font-weight: bold; background:white;border:1px solid #bbb; padding-left:0px;margin-bottom: 0px;line-height: 80px;clear:both;}
.item1>p{padding-left: 10px;}
.item1>div{ left:0;  height:0; overflow:hidden;padding-left: 30px;}
.item1.on>div{font-weight: normal;width:100%; height:auto; background:#ccc;border:1px solid #bbb;}



.item2 {text-align: left; font-weight: bold; background:white;border:1px solid #bbb; padding-left:0px;margin-bottom: 0px;line-height: 80px;}
.item2>p{padding-left: 10px;}
.item2>div{ left:0;  height:0; overflow:hidden;padding-left: 30px;}
.item2.on>div{font-weight: normal;width:100%; height:auto; background:#ccc;border:1px solid #bbb;}



.item3 {text-align: left; font-weight: bold; background:white;border:1px solid #bbb; padding-left:0px;margin-bottom: 0px;line-height: 80px;}
.item3>p{padding-left: 10px;}
.item3>div{ left:0;  height:0; overflow:hidden;padding-left: 30px;}
.item3.on>div{font-weight: normal;width:100%; height:auto; background:#ccc;border:1px solid #bbb;}
}
